/* @import "../node_modules/bulma/css/bulma.min.css"; */

/* #nav-toggle-state {
  display: none;
}

#nav-toggle-state:checked ~ .nav-menu {
  display: block;
}

 */
 :root {
  --background: url("../images/backgroundpattern.png");
}
body {
  background: #11998e; /* fallback for old browsers */
  background-image: var(--background);
  background-image: var(--background),
    linear-gradient(to right, #38ef7d, #11998e); /* Chrome 10-25, Safari 5.1-6 */
}

html,
body {
  height: 100%; /*both html and body*/
}
body {
  margin: 0; /*reset default margin*/
}

.center-text {
  text-align: center;
  width: 100%;
}
